.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    color:#fff;
    background-image: url("./images/black-wall-texture-19.jpg");
    background-size: 100% 100vh;
    background-position: center;
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 80%;
    background-color: black;
    z-index: 1;
}

.name{
    width: 200px;
}

.name:hover{
    color: yellow;
}

nav ul li{
 display: inline-block;
 list-style: none;
 margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: greenyellow;
position: absolute;
left: 0;
bottom: -5px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.3s;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color:yellow;
}

.header-text p{
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    border-right: solid 3px yellow;
    width: 0;
    overflow: hidden;
    white-space:nowrap;
    animation: type 2s steps(19) 1s infinite;
   
}

@keyframes type {
    to{width: 20ch}
}

.card-body p ul li{
    list-style-type: none;
    color: #f39f5b;

}

.card-body p ul li span{
    color: #e5ff00;
}


/* #about{
    padding: 80px 0;
    color: rgb(254, 140, 99);
    min-height: 100vh;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    border-radius: 50%;
    height: 330px;
}


.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: yellow;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
    position: absolute;

}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #e5ff00  ;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
} */

#skills{
    padding: 50px 0;
    min-height: 100vh;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
    margin-top: 50px;
}

.skills-list div{
    font-size: 20px;
}

.skill{
    display: flex;
    min-width: 140px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    margin-top: auto;
    border-radius: 10px;
}


.tools{
    /* min-height: 40px;
    min-width: 100px;
    color:black;
    font-size: 20px;
    font-weight: bolder; */

    display: flex;
    min-width: 140px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    margin-top: auto;
    border-radius: 10px;
}

.tools div{
    margin: 10px 20px;
    width: 300px;
    height: 50px;
}


/* Work and project  */

#workAndProjects{
    padding: 50px 0;
    min-height: 100vh;
}

.wp-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:40px;
    margin: 50px 0;
    height: 60vh;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}


::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #e5ff00;
    border-radius:10px;
}

.wp{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 320px;
}

.wp img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 100%;
}

.wp img:hover{
    transform: scale(1.5);
}

.layer h4{
    font-weight: bold;
    margin-bottom: 20px;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(47, 179, 255),rgb(172, 139, 248));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    color: black;
    transition:  0.5s;
}


.wp:hover .layer{
    height: 100%;
}

.layer div a{
    border: 2px solid black;
    width: 50%;
}

.used{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 3px;
    margin: 3px;
}

.used span{
    background-color: #e9ff1f;
    border-radius: 10px;
    padding: 2px;
    font-size: 13px;
    margin: 2px;
    font-weight: bold;
}


/* contact  */

.col-contact-1{
    flex-basis: 35%;
}

.col-contact-2{
    flex-basis: 60%;
}


.col-contact-1 p{
    margin: 30px;
}


.col-contact-1 p i{
    color: #e5ff00;
    margin-right: 15px;
    font-size: 25px;
}


.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(253, 254, 255);
    display: inline-block;
    transition: transform 0.5s;
}


.social-icons a:hover{
    color: #e5ff00;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e5ff00;
    color: black;
    background: #fefff8;
    font-size: xx-large;
    border: none;
    border-radius: 10px;
   

}

a {
    text-decoration: none;
}

#msg{
    color: #e5ff00;
    margin-top: -40px;
}

.uil.uil-arrow-circle-up{
    position: fixed;
    right: 60px;
    bottom: 30px;
    font-size: 50px;
    cursor: pointer;
    color: #e5ff00;
}

.uil.uil-arrow-circle-up:hover{
   color: #fff;
}


#experience{
    padding: 50px 0;
    height: 100vh;
    font-size: 18px;
}


.exp-tab-links{
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}


/* responsiveness  */

nav .uil{
    display: none;
}

@media only screen and (max-width:900px){
    .header-text{
        margin-top:100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    nav .uil{
        display: block;
    }


    nav ul{
        background: #000000;
        color:white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li a{
        color: aqua;
    }

    #about{
        margin-top: 300px;
    }

  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
